On importe les bibliothèques.

In [162]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from sklearn.model_selection import train_test_split

Lecture du fichier

In [145]:
df= pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

In [146]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

Vérification s'il y a des données manquantes

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

On regroupe les métiers par catégories

In [148]:
"""def encode_metier_case(occupation):
    if occupation in ["Software Engineer", "Scientist", "Engineer"]:
        return "Technique"
    elif occupation in ["Doctor", "Nurse", "Pharmacist"]:
        return "Sante"
    elif occupation in ["Teacher", "Professor"]:
        return "Education"
    elif occupation in ["Lawyer", "Salesperson", "Accountant", "Manager", "Sales Representative"]:
        return "Commerce"
    else:
        return "Autre"""

'def encode_metier_case(occupation):\n    if occupation in ["Software Engineer", "Scientist", "Engineer"]:\n        return "Technique"\n    elif occupation in ["Doctor", "Nurse", "Pharmacist"]:\n        return "Sante"\n    elif occupation in ["Teacher", "Professor"]:\n        return "Education"\n    elif occupation in ["Lawyer", "Salesperson", "Accountant", "Manager", "Sales Representative"]:\n        return "Commerce"\n    else:\n        return "Autre'

In [149]:
#df['Occupation'] = df['Occupation'].apply(encode_metier_case)

In [150]:
le = LabelEncoder()
df['Occupation'] = le.fit_transform(df['Occupation'])

On sépare les données composées de blood presure en deux colonnes séparées

In [151]:
df[['Systolic_BP', 'Diastolic_BP']] = df['Blood Pressure'].str.split('/', expand=True)

df['Systolic_BP'] = pd.to_numeric(df['Systolic_BP'])
df['Diastolic_BP'] = pd.to_numeric(df['Diastolic_BP'])

df.drop(columns=['Blood Pressure'], inplace=True)

In [134]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP
0,1,Male,27,9,6.1,6,42,6,Overweight,77,4200,NaN,126,83
1,2,Male,28,1,6.2,6,60,8,Normal,75,10000,NaN,125,80
2,3,Male,28,1,6.2,6,60,8,Normal,75,10000,NaN,125,80
3,4,Male,28,6,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,5,Male,28,6,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
370,371,Female,59,5,8.0,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
371,372,Female,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
372,373,Female,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
373,374,Female,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95

on met le genre en valeur binaire

In [152]:
df = pd.get_dummies(df, columns=['Gender'],drop_first=True)
df['Gender_Male'] = df['Gender_Male'] * 1
df

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP,Gender_Male
0,1,27,9,6.1,6,42,6,Overweight,77,4200,NaN,126,83,1
1,2,28,1,6.2,6,60,8,Normal,75,10000,NaN,125,80,1
2,3,28,1,6.2,6,60,8,Normal,75,10000,NaN,125,80,1
3,4,28,6,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,1
4,5,28,6,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95,0
370,371,59,5,8.0,9,75,3,Overweight,68,7000,Sleep Apnea,140,95,0
371,372,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95,0
372,373,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95,0
373,374,59,5,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95,0

on met notre variable sous forme binaire

In [153]:
df['BMI_binary'] = (df['BMI Category'] == 'Normal').astype(int)
df.drop(columns=['BMI Category'], inplace=True)
df

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP,Gender_Male,BMI_binary
0,1,27,9,6.1,6,42,6,77,4200,NaN,126,83,1,0
1,2,28,1,6.2,6,60,8,75,10000,NaN,125,80,1,1
2,3,28,1,6.2,6,60,8,75,10000,NaN,125,80,1,1
3,4,28,6,5.9,4,30,8,85,3000,Sleep Apnea,140,90,1,0
4,5,28,6,5.9,4,30,8,85,3000,Sleep Apnea,140,90,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,59,5,8.1,9,75,3,68,7000,Sleep Apnea,140,95,0,0
370,371,59,5,8.0,9,75,3,68,7000,Sleep Apnea,140,95,0,0
371,372,59,5,8.1,9,75,3,68,7000,Sleep Apnea,140,95,0,0
372,373,59,5,8.1,9,75,3,68,7000,Sleep Apnea,140,95,0,0
373,374,59,5,8.1,9,75,3,68,7000,Sleep Apnea,140,95,0,0

 Encoder Sleep Disorder en colonnes binaires (one-hot)

In [154]:
df_encoded = pd.get_dummies(df, columns=['Sleep Disorder'], dummy_na=True, drop_first=False)

KNN pour les valeurs manquantes

In [155]:
from sklearn.impute import KNNImputer
import pandas as pd

sleep_cols = [col for col in df_encoded.columns if 'Sleep Disorder_' in col]
def data_imputation(df, cols):
    df_imputed = df.copy()
    imputer = KNNImputer(n_neighbors=5)
    df_imputed[cols] = imputer.fit_transform(df_imputed[cols])
    df_imputed[cols] = df_imputed[cols].round().astype(int)
    
    return df_imputed
df_imputed = data_imputation(df_encoded, sleep_cols)
df = df_imputed

df

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Systolic_BP,Diastolic_BP,Gender_Male,BMI_binary,Sleep Disorder_Insomnia,Sleep Disorder_Sleep Apnea,Sleep Disorder_nan
0,1,27,9,6.1,6,42,6,77,4200,126,83,1,0,0,0,1
1,2,28,1,6.2,6,60,8,75,10000,125,80,1,1,0,0,1
2,3,28,1,6.2,6,60,8,75,10000,125,80,1,1,0,0,1
3,4,28,6,5.9,4,30,8,85,3000,140,90,1,0,0,1,0
4,5,28,6,5.9,4,30,8,85,3000,140,90,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,59,5,8.1,9,75,3,68,7000,140,95,0,0,0,1,0
370,371,59,5,8.0,9,75,3,68,7000,140,95,0,0,0,1,0
371,372,59,5,8.1,9,75,3,68,7000,140,95,0,0,0,1,0
372,373,59,5,8.1,9,75,3,68,7000,140,95,0,0,0,1,0
373,374,59,5,8.1,9,75,3,68,7000,140,95,0,0,0,1,0

In [156]:
def min_max_scaling_sleep(df):
    scaler = MinMaxScaler()

    # Colonnes à ne pas scaler (catégorielles ou identifiants)
    exclude_cols = ['Person ID', 'Gender', 'BMI Category', 'Sleep Disorder']

    num_cols = [col for col in df.columns if col not in exclude_cols]
    df_scaled = df.copy()
    df_scaled[num_cols] = scaler.fit_transform(df[num_cols])

    return df_scaled


df_normalized = min_max_scaling_sleep(df)

df= df_normalized
df

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Systolic_BP,Diastolic_BP,Gender_Male,BMI_binary,Sleep Disorder_Insomnia,Sleep Disorder_Sleep Apnea,Sleep Disorder_nan
0,1,0.00000,0.9,0.111111,0.4,0.20,0.6,0.571429,0.171429,0.407407,0.40,1.0,0.0,0.0,0.0,1.0
1,2,0.03125,0.1,0.148148,0.4,0.50,1.0,0.476190,1.000000,0.370370,0.25,1.0,1.0,0.0,0.0,1.0
2,3,0.03125,0.1,0.148148,0.4,0.50,1.0,0.476190,1.000000,0.370370,0.25,1.0,1.0,0.0,0.0,1.0
3,4,0.03125,0.6,0.037037,0.0,0.00,1.0,0.952381,0.000000,0.925926,0.75,1.0,0.0,0.0,1.0,0.0
4,5,0.03125,0.6,0.037037,0.0,0.00,1.0,0.952381,0.000000,0.925926,0.75,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,1.00000,0.5,0.851852,1.0,0.75,0.0,0.142857,0.571429,0.925926,1.00,0.0,0.0,0.0,1.0,0.0
370,371,1.00000,0.5,0.814815,1.0,0.75,0.0,0.142857,0.571429,0.925926,1.00,0.0,0.0,0.0,1.0,0.0
371,372,1.00000,0.5,0.851852,1.0,0.75,0.0,0.142857,0.571429,0.925926,1.00,0.0,0.0,0.0,1.0,0.0
372,373,1.00000,0.5,0.851852,1.0,0.75,0.0,0.142857,0.571429,0.925926,1.00,0.0,0.0,0.0,1.0,0.0
373,374,1.00000,0.5,0.851852,1.0,0.75,0.0,0.142857,0.571429,0.925926,1.00,0.0,0.0,0.0,1.0,0.0

In [164]:
X = df.drop(columns=['Person ID', 'BMI_binary'])
y = df['BMI_binary']